<?php
/**
 * Testimonials grid template
 *
 * @var $block \Bss\Testimonials\Block\Widget\Testimonial
 */
?>
<?php
$_testimonialCollection = $block->getTestimonialsCollection();
?>
<h1>List Testimonials</h1>
<?php if (!$_testimonialCollection->count()): ?>
    <div class="message info empty">
        <div><?php /* @escapeNotVerified */ echo __('We can\'t find testimonials matching the selection.') ?></div>
    </div>
    <?php else: ?>
        <div class="bss-testimonials bss-testimonials-grid">
            <?php $i = 0; ?>

            <?php foreach ($_testimonialCollection as $testimonial): ?>

                <?php $i++; ?>
                <div class="bss-testimonial-item <?php echo ($i % 2 != 0) ? 'bss-testimonial-item-margin' : ''; ?>">
                    <div class="bss-testimonials-grid-left">
                        <div class="bss-testimonial-image">
                            <img src = "<?php echo $block->getAuthorImage($testimonial->getImage()); ?>" 
                            class = "<?php echo $block->getImageStyle() == 'round' ? 'round-imge' : ''; ?>"
                            alt = "<?php echo $block->escapeHtml(__($testimonial->getAuthor())); ?>"
                            >
                        </div>
                    </div>
                    <div class="bss-testimonials-grid-right ">
                        <div class="bss-testimonial-author"><span><?php echo $block->escapeHtml(__($testimonial->getAuthor())); ?></span></div>

                        <div class="bss-testimonial-rating">
                            <div class="rating-result">
                                <span style="width: <?php echo $block->escapeHtml($testimonial->getRating()).'%'; ?>"></span>
                            </div>
                        </div>


                        <div class="bss-testimonial-title"><span><?php echo $block->escapeHtml(__($testimonial->getTitle())); ?></span></div>

                        <div class="bss-testimonial-content"><span><?php echo $block->escapeHtml(__($testimonial->getTestimonialContent())); ?></span></div>
                        <div class="bss-testimonial-social">
                            <?php if ($facebookUrl = $testimonial->getFacebookUrl()): ?>
                                <a target="_blank" class="bss-testimonial-social-facebook" href="<?php echo $block->escapeHtml($facebookUrl); ?>" title="facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            <?php endif; ?>
                            <?php if ($twitterUrl = $testimonial->getTwitterUrl()): ?>
                                <a target="_blank" class="bss-testimonial-social-twitter" href="<?php echo $block->escapeHtml($twitterUrl); ?>" title="twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            <?php endif; ?>
                            <?php if ($googleplusUrl = $testimonial->getGoogleplusUrl()): ?>
                                <a target="_blank" class="bss-testimonial-social-google-plus" href="<?php echo $block->escapeHtml($googleplusUrl); ?>" title="google-plus">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            <?php endif; ?>
                            <?php if ($linkedinUrl = $testimonial->getLinkedinUrl()): ?>
                                <a target="_blank" class="bss-testimonial-social-linkedin" href="<?php echo $block->escapeHtml($linkedinUrl); ?>" title="linkedin">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            <?php endif; ?>
                            <?php if ($youtubeUrl = $testimonial->getYoutubeUrl()): ?>
                                <a target="_blank" class="bss-testimonial-social-youtube" href="<?php echo $block->escapeHtml($youtubeUrl); ?>" title="youtube">
                                    <i class="fa fa-youtube"></i>
                                </a>
                            <?php endif; ?>
                        </div>


                        <div class="bss-testimonial-meta">

                            <span class="bss-testimonial-date">
                                <?php echo substr($testimonial->getCreationTime(), 0, strrpos($testimonial->getCreationTime(), ' ')); ?>
                            </span>

                            
                            <span class="bss-testimonial-address"><?php echo $block->escapeHtml(__($testimonial->getCity())); ?></span>
                            
                        </div>
                        <div class="bss-testimonial-customer">
                            <?php if ($testimonial->getData('customer_id')): ?>
                                    <span><?php echo $block->escapeHtml(__($testimonial->getData('customer_id'))); ?></span>

                            <?php endif; ?>

                            

                            
                        </div>
                        <div class="bss-testimonial-customer">
                            <?php if ($testimonial->getData('customer_name')): ?>
                                    <span><?php echo $block->escapeHtml(__($testimonial->getData('customer_name'))); ?></span>

                            <?php endif; ?>

                            

                            
                        </div>

                        <?php
                        $companyName = $testimonial->getCompanyName();
                        $job = $testimonial->getJob();
                        ?>
                        <div class="bss-testimonial-jobandcompany">

                            <span><?php echo $block->escapeHtml(__($job)); ?></span>


                            <a href="<?php echo $block->escapeHtml($testimonial->getCompanyUrl()); ?>"><?php echo $block->escapeHtml(__($companyName)); ?></a>

                        </div>
                    </div>
                </div>
                <?php if ($i % 2 == 0): ?>
                    <div style="clear: both;"></div>
                <?php endif; ?>
            <?php endforeach;?>
            <?php if ($block->getPagerHtml()): ?> 
                <div class="bss-testimonials-toolbar">
                    <?php echo $block->getPagerHtml(); ?>
                </div> 
            <?php endif ?>
        </div>
    <?php endif; ?>
