<div class="custom-footer-main" >
	<h1><?php echo __('LEST\'S CONNECT');  ?></h1>
	<h5><?php echo __('Lorem ipsum dolor sit amet, consectetuer adipiscing elit'); ?></h5>
	<div class="custom-footer-container">
		<div class="custom-footer-content">
			<i class="far fa-envelope"></i>
			<p><?php echo __('GENERAL INFO'); ?></p>
			<P><?php echo __('info@website.com'); ?></P>
			
		</div>
		<div class="custom-footer-content">
			<i class="fas fa-credit-card"></i>
			
			<p><?php echo __('CAREERS'); ?></p>
			<P><?php echo __('careers@website.com'); ?></P>
			
			</div>
		<div class="custom-footer-content">
			<i class="fab fa-twitter"></i>
			<p><?php echo __('TWITTER'); ?></p>
			<P><?php echo __('@website.com'); ?></p>
				 
		</div>
		<div class="custom-footer-content">
			<i class="fab fa-facebook-square"></i>
			<p><?php echo __('FACEBOOK'); ?></p>
			<P><?php echo __('website.com'); ?></p>
				
		</div>
	</div>
	<hr>
	<div>
		<a href="" title=""><?php echo __('Copyright Website 2017'); ?></a>
		<a href="" title=""><?php echo __('Privacy Policy'); ?></a>
		<a href="" title=""><?php echo __('Disclaimer'); ?></a>
		<a href="" title=""><?php echo __('Site map'); ?></a>
		
	</div>
		
		
	
</div>