
<?php if ($block->getSessionCustomerLogin()): ?>
    <div id="popup-modal" style="display: none">
        <h2>Do you want to write a testimonials?</h2>


        <div  id="contact-form" method="post">
            <div class="actions-toolbar">
                <div class="primary">
                    <button type="button" title="Yes" data-role="closeBtn" onclick="redirectTestimonials();">
                        <span>Yes</span>
                    </button>
                </div>
                <div class="primary">
                    <button type="button" title="No" data-role="closeBtn">
                        <span>No</span>
                    </button>
                </div>
            </div>
        </div>

    </div>
    <script>
        require(
            [
            'jquery',
            'Magento_Ui/js/modal/modal'
            ],
            function(
                $,
                modal
                ) {
                var options = {
                    type: 'popup',
                    responsive: true,
                    innerScroll: true,
                };

                var popup = modal(options, $('#popup-modal'));

                $('#popup-modal').modal('openModal');
            }
            );
        function redirectTestimonials(){
           
            var url = "<?php echo $block->getBaseUrl() ?>" + "testimonials";
            
            window.location.href = url;
   

    }

</script>
<?php endif ?>


